@font-face {
    font-family: "Audrey";
    src: url("/Fonts/Audrey/Audrey-Normal.otf");
}
@font-face {
    font-family: "Audrey-Bold";
    src: url("/Fonts/Audrey/Audrey-Bold.otf");
}

@font-face {
    font-family: "Audrey-Medium";
    src: url("/Fonts/Audrey/Audrey-Medium.otf");
}
$pink: #f7e8ee;
$navy: #14045a;
$serif: "DM Serif Display", serif;
$sans: "Poppins", sans-serif;
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $pink;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .call-to-action {
        text-align: left;
        position: absolute;
        margin-left: 2rem;
        margin-top: 2rem;
        button {
            padding: 1rem;
            font-size: 1.1rem;
            border-radius: 3px;
            border: 2px solid $navy;
            color: black;
            font-weight: lighter;
            cursor: pointer;
            transition: all 0.6s ease-in-out;
            background-color: transparent;
        }
        button:hover {
            color: white;
            background-color: $navy;
        }
        h3 {
            margin-top: 10.5rem;
            color: rgba(0, 0, 0, 0.671);
        }
    }
}
.hero-heading {
    position: absolute;

    h1 {
        font-family: $serif;
        font-size: 10rem;
        padding: 1rem;
        letter-spacing: 2.2rem;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        color: white;
        z-index: 5;
        span {
            mix-blend-mode: difference;
            -webkit-text-stroke: 1.5px white;
        }

        span:nth-child(2) {
            mix-blend-mode: normal;
            text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.623);
        }
    }
    h2 {
        color: black;
        font-family: $sans;
        font-weight: 100;
        text-align: left;
        margin-left: 2rem;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }
}
.hero-image-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    .hero-image-zoom {
        object-fit: cover;
        overflow: hidden;
        .hero-image-1 {
            width: 425px;
            object-fit: cover;
            height: 425px;
        }
        .hero-image-2 {
            height: 100%;
            width: 425px;
            object-fit: cover;
            transition: 0.6s all ease-in-out;
        }
        .hero-image-3 {
            width: 425px;
            object-fit: cover;
            height: 425px;
            bottom: 0;
            margin-top: 100%;
        }
    }

    .hero-image-model-details {
        border-left: 2px solid rgba(0, 0, 0, 0.4);
        padding-left: 1rem;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        position: absolute;
    }
}

.model-page-container {
    text-align: center;
    h1 {
        font-family: "Audrey";
        font-size: 3rem;
        padding: 5rem;
    }
    .model-watermark {
        position: absolute;
        font-size: 10rem;
        margin-top: 1rem;
        letter-spacing: 2rem;
        color: rgba(0, 0, 0, 0.045);
        z-index: -1;
    }
}
.model-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 90%;
    margin: auto;
}
.model-card {
    overflow: hidden;
    height: 700px;

    img {
        object-fit: fill;
        width: 100%;
        transition: all 0.4s ease-in-out;
    }
    img:hover {
        filter: saturate(150%);
    }
}

.model-detail-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.model-detail-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    img {
        height: 750px;
        border-radius: 3px;
        width: 450px;
        object-fit: cover;
    }
    h1 {
        font-family: "Audrey-Bold";
    }
    h2 {
        font-family: "Audrey";
        font-weight: 100;
    }
}
.model-detail-info {
    display: grid;
    justify-content: center;
    align-items: center;
}

.about-page-container {
    margin: auto;
    width: 95%;
    .about-watermark {
        position: absolute;
        font-size: 4rem;
        left: 0;
        right: 0;
        margin-top: 5.5rem;
        letter-spacing: 0.5rem;
        color: rgba(0, 0, 0, 0.045);
        z-index: -2;
    }
    h1 {
        text-align: center;
        font-family: "Audrey";
        padding: 5rem;
        font-size: 3rem;
    }
    .about-us-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);

        .about-us-card-info {
            padding: 2rem;
            width: 85%;
            margin: auto;
            h1 {
                font-family: "Audrey";
                font-size: 4rem;
                padding: 0;
                padding-bottom: 2rem;
                text-align: left;
            }
            p {
                border-left: 2px solid $navy;
                padding-left: 2rem;
            }
            a {
                color: black;
                font-weight: bold;
                padding: 2rem;
            }
        }

        img {
            height: 800px;
            width: 100%;
            object-fit: cover;
        }
    }
}
